

.sign-in {
  max-width: 300px;
  margin: auto;
}
.chat-input {
  max-width: 1000px;

}
.chat-message {
  max-width: 500px;
  background: #ebebeb none repeat scroll 0 0;
  color: #646464;
  border-radius: 20px;
  padding: 10px 20px;
}

.chat-message h1 {
  font-size: 1.5rem;
}

.edit-content label {
  font-size: 0.8rem;
  cursor: pointer;
  color: #5555ef;
  text-decoration: underline;
}
.message-date {
  font-size: 0.8rem;
  color: #7d7d7d;
}